
#home{
    font-weight: bold;
    color: black;
  }
  #manageUser{
    font-weight: bold;
    color: black;
  }
  #manageAccess{
    font-weight: bold;
    color: black;
  }
  #userPortal{
    font-weight: bold;
    color: black;
  }
  #grantAccess{
    font-weight: bold;
    color: black;
  }
  #viewHistory{
    font-weight: bold;
    color: black;
  }